@model IEnumerable<TaskAuthenticationAuthorization.Models.User>

@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Buyer Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.BuyerType</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
